.card-img-top{
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
}
.name{
    font-family: system-ui, sans-serif !important;
    color: black;
    font-weight: 400;
    font-size: 18px;
}

@media (max-width : 568px) {
    .name{
        font-size: 12px;
    }
    
}